
# Immich .env sample
#
# Copy this file to ".env" and edit values as needed. Keep the .env file private
# as it contains secrets (for example DB_PASSWORD). When running in production,
# generate strong random passwords and don't commit the .env file to source control.
#
# See https://immich.app/docs/ for further deployment and hardware-acceleration guidance.

COMPOSE_PROJECT_NAME=immich


## -- [ DATABASE CONFIGURATION ] --
# The connection secret for postgres. Change to a strong password.
# Use only the characters A-Za-z0-9 for compatibility with some init scripts.
DB_PASSWORD=<replace-with-random-password>
DB_USERNAME=postgres
DB_DATABASE_NAME=immich


## -- [ APPLICATION CONFIGURATION ] --

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
# https://github.com/immich-app/immich/releases
IMMICH_VERSION=release

# The volume bind location for persisting Immich application data such as the database,
# redis, and model cache. Defaults to ./.volumes in the current directory.
IMMICH_DATA_PATH=./.volumes

# The location where your uploaded photo and video files are stored. Defaults to
# ./.volumes/photos in the current directory.
PHOTOS_PATH=./.volumes/photos

# To set a timezone, change Etc/UTC to a TZ identifier from:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Etc/UTC


## -- [ TRAEFIK REVERSE PROXY CONFIGURATION ] --
# Uncomment and set the following variables if you want to use Traefik as a reverse
# proxy. Make sure to also add DNS records for your TRAEFIK_DOMAIN pointing to the
# IP address of the docker server and that the `traefik-network` is present.

TRAEFIK_ENABLE=false
TRAEFIK_DOMAIN=example.com
TRAEFIK_IMMICH_DOMAIN=immich.example.com
