# Cloudflare tunnel network container

# To get access in other containers use
# networks:
#   cloudflared-network:
#    external: true
networks:
  default:
    name: cloudflared-network
    driver: bridge

services:
  cloudflared:
    image: cloudflare/cloudflared:${CLOUDFLARED_VERSION:-latest}
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN-? "Environment variable CLOUDFLARED_TUNNEL_TOKEN must be set"}
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"