# -----------------------------------------------------------------------------
# Gitea Docker Compose Configuration
# Copy and rename this file to .env and configure the variables below.
# -----------------------------------------------------------------------------

# --- [ PROJECT ] ---
COMPOSE_PROJECT_NAME=gitea


# --- [ USER & GROUP ID ] ---
# Run `id $USER` to check your UID/GID
PUID=1000
PGID=1000


# --- [ TIMEZONE ] ---
TZ=Etc/UTC


# --- [ APPLICATION VERSIONS ] ---
# https://hub.docker.com/_/postgres
POSTGRES_VERSION=latest

# https://hub.docker.com/_/redis
REDIS_VERSION=latest

# https://hub.docker.com/r/gitea/gitea
GITEA_VERSION=latest


# --- [ STORAGE ] ---
# Path to store all persistent data (database, Redis, Gitea data).
# Currently set to a relative path next to compose.yaml; update as needed.
GITEA_PATH=./.volume


# --- [ NETWORK PORTS ] ---
GITEA_HTTP_PORT=3180
GITEA_SSH_PORT=3122


# --- [ DATABASE CONFIGURATION ] ---
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea

# Generate a strong password: openssl rand -base64 32
GITEA_DB_PASSWORD=replace_with_strong_password


# --- [ GITEA CONFIGURATION ] ---
# The public domain Gitea is served from (e.g. git.yourdomain.com)
GITEA_DOMAIN=git.yourdomain.com
GITEA_DISABLE_REGISTRATION=false
GITEA_REQUIRE_SIGNIN_VIEW=false


# --- [ MAINTENANCE ] ---
# Enable Watchtower to automatically update containers (true/false)
WATCHTOWER_UPDATE_ENABLE=false


# --- [ TRAEFIK REVERSE PROXY CONFIGURATION ] ---
TRAEFIK_ENABLE=false
TRAEFIK_GITEA_HOSTNAME=${GITEA_DOMAIN}